=provide(:title, 'Admin pannel')
%center-form
  .flex-col
    = link_to "All reservations", admin_room_reservations_path
    = link_to "Room types", admin_room_types_path
    = link_to "View types", admin_view_types_path
    = link_to "View stats report", '#'
    = link_to "Exit admin mode", logoff_admin_path
