%h6
  Room ##{room.room_num}
=render 'shared/display_room_and_view_types',room_types:room.room_type,view_types: room.view_type
%img(src = '/assets/room_img/room.jpeg')
%h6
  for #{display_days_between_dates(@checkin_date,@checkout_date)} night(s) stay ( check-in: #{@checkin_date} | check-out: #{@checkout_date} )
%h6
  Room price: #{format_room_price(display_calc_total_price(@checkin_date,@checkout_date,room,@price_modifiers,@weekend_price))}$
