=provide(:title,'Reservation summary')
.container
  .row
    .col-md
      .center-form
        %h4 Summary of reservations
        %h5 For #{@reservations.length} room(s)
        %h6.styled-listing Reservated by: #{@client.name}
        %h6.styled-listing Client email: #{@client.email}
        %h6.styled-listing Checkin-date: #{@reservations.first.first.from_date.date}
        %h6.styled-listing Checkout-date: #{format_checkout_date(@reservations.first.first.to_date.date)}
        %h6.styled-listing Total price for #{display_night_counts(@reservations.first)} night(s): #{display_reservation_total_price(@reservations)}$
        .particular-demands.add-border
          %h6.listing-header Particular demands
          %p #{@reservations.first.first.reservation.demands}
        %br
        %button.btn.btn-primary(aria-controls="collapseSummary" aria-expended="false" data-target="#collapseSummary" data-toggle="collapse" type="button")
          Toggle price breakdown
        %button.btn.btn-success
          Email the summary
        .collapse#collapseSummary
          %br
          .center-form
            -@reservations.each_with_index do |reservation,index|
              %ul
                %li.styled-listing
                  %h6 Room ##{reservation.first.room.room_num}
                  %h6 #{reservation.first.room.view_type.view} view
                  %h6 #{reservation.first.room.room_type.room} room
                  %h6 Reservated dates: #{reservation.first.from_date.date} - #{reservation.first.to_date.date}
                  %h6 Price: #{format_room_price(reservation.first.price)}$
