%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "/"} Nagano Comfort Inn
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.mx-2
        = link_to 'Make a reservation', root_path
      %li.nav-item.mx-2
        = link_to 'View our rooms', rooms_path
      -if !is_admin? && !is_signed_in?
        %li.nav-item.mx-2
          = link_to "Admin mode", admin_path
        %li.nav-item.mx-2
          = link_to "Sign in", signin_path
      -if is_admin?
        %li.nav-item.mx-2
          = link_to "View all reservations", room_reservations_path
        %li.nav-item.mx-2
          = link_to "View all room types", room_types_path
        %li.nav-item.mx-2
          = link_to "View all view types", view_types_path
        %li.nav-item.mx-2
          = link_to "Exit admin mode", logoff_admin_path
      -if is_signed_in?
        %li.nav-item.mx-2
          = link_to "My reservations", my_reservations_path
        %li.nav-item.mx-2
          = link_to "Sign out", signout_path
